{% extends 'basic.html' %}
{% block title %} Home Page {% endblock title%}
{% block homeactive %} active{% endblock homeactive %}
{% block body %}
{% load static %}
<div class="container my-3">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to My Blog!</h1>
      <p class="lead">Hello I am Divya khandelwal. This Blog website store my normal day to day throught. This blog main aim store friendly blogs and user feeling.</p>
      <hr class="my-4">
      <p>Your are feel alone so you are write blog and share with unjudgeable person so please write your throughts.</p>
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
</div>
</div>
<div class="container my-3">
<h2 class="text-center my-4">Populater Block Post <hr></h2>
  {% for post in allpost %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.auther}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.timestamp}}</div>
            <p class="card-text mb-auto">{{post.content | truncatechars:150}}</p>
            <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button"class="btn btn-primary">Continue reading</a>
            </div>
          </div>

        </div>
 {% endfor %}
</div>
{% endblock body%}
